.button{
    background: transparent;
    height: 3.2rem;
    width: 3.2rem;
    cursor: pointer;
    svg{
        height: 100%;
        width: 100%;
    }

    svg > path{
        fill: var(--svg-color);
        transition: 0.3s ease;
    }

    &:hover{
        svg > path{
            fill: red;
        }
    }

    &.add{
        height: 6rem;
        width: 6rem;
        transition: transform 0.3s ease;
        svg > path{

            fill: rgb(79, 209, 3);
        }
    }
    &.add:hover{
        transform: scale(1.2) translateY(-8px) rotateZ(90deg);
        svg > path{
            fill: rgb(79, 209, 3);
        }
    }


    &.check:hover{
        svg > path{
            fill: rgb(79, 209, 3);
        }
    }
    &.edit:hover{
        svg > path{
            fill: cornflowerblue;
        }
    }
}
