.button{
    background: transparent;
    height: 3.2rem;
    width: 3.2rem;
    svg{
        height: 100%;
        width: 100%;
    }

    svg > path{
        fill: black;
        transition: 0.3s ease;
    }

    &:hover{
        svg > path{
            fill: red;
        }
    }

    &.check:hover{
        svg > path{
            fill: rgb(79, 209, 3);
        }
    }
    &.edit:hover{
        svg > path{
            fill: cornflowerblue;
        }
    }
}
