.App{
    --bg-color: var(--light-bg);
    color: var(--light-text-color);
    --shadow: var(--light-shadow);
    --gradient: var(--light-gradient);
    --text-color: var(--light-text-color);
    --svg-color: var(--light-svg);
    --nav-color: var(--light-nav-border);
    --modal-color: var(--light-modal)
}
.App.dark{
    --bg-color: var(--dark-bg);
    --gradient: var(--dark-gradient);
    --shadow: var(--dark-shadow);
    --text-color: var(--dark-text-color);
    color: var(--dark-text-color);
    --svg-color: var(--dark-svg);
    --nav-color: var(--dark-nav-border);
    --modal-color: var(--dark-modal);
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  min-height: 100vh;
  background-color: var(--bg-color);

  nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid var(--nav-color);

    .nav-button{
        position: relative;
        padding: 1.6rem;
        overflow: hidden;
        width: 18rem;
        background: transparent;
        font-family: 'Apex New', 'Open Sans';
        font-size: 1.6rem;
        font-weight: 500;
        cursor: pointer;
        color: var(--text-color);
    }

    .nav-button:after{
        content: '';
        height: 1.2rem;
        width: 100%;
        position: absolute;
        border-radius: 999px;
        background-color: var(--text-color);
        left: 0;
        bottom: 0;
        transform-origin: center;
        transform: translateY(100%) scaleX(1);
        transition: 0.5s ease;
    }

    .nav-button:hover::after{
        transform: translateY(75%);
    }

    .nav-button:disabled{
        text-decoration: line-through;
        &:hover{
            cursor: not-allowed;
            &::after{
                transform: translateY(100%);
            }
        }
    }
    .nav-button.selected{
        font-weight: 600;
    }

    .nav-button.selected::after{
        transform: translateY(50%);
    }
    .changeMode-button{
        position: relative;
        width: 48px;
        height: 16px;
        margin-left: auto;
        margin-right: 16px;
        background-color: var(--text-color);
        border-radius: 999px;
        border: none;
        transition: background-color 0.5s ease;
        &::after{
            content: '';
            position: absolute;
            height: 24px;
            width: 24px;
            border-radius: 50%;
            top: 50%;
            left: 50%;
            background-color: var(--text-color);
            box-shadow: 0 0 2px 2px black;
            transform: translate(-24px, -50%);
            transition: 0.5s ease;
        }
    }
    .changeMode-button.dark{

        &::after{
            left: auto;
            transform: translate(0px, -50%);
        }
    }
  }
  h1{
      font-size: 4rem;
  }
}

.add-button-fixed {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.confirm-button{
    padding: 0.4em 0.8em;
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 0.4em;
    box-shadow: 0 0 0 0 black inset;
    color: white;
    background-color: rgb(79, 209, 3);
    transition: 0.3s ease;
    &:hover{
        box-shadow: 0 0 0.2em 0 black inset;
    }
    &:active{

    background-color: rgb(60, 161, 1);
    }
}

.notice{
    width: min(48rem, 80%);

    svg{
        height: 10rem;
        width: 10rem;

        path{
            fill: var(--text-color);
        }
    }
    h2{
        font-size: 3.2rem;
    }
    p{
        font-family: 'Open Sans';
        font-size: 2.4rem;
    }
}

footer{
    padding-top: 3rem;
    font-size: 1.6rem;
    font-weight: 500;
    margin-top: auto;
}
