.App {
  text-align: center;
  padding-bottom: 10rem;

  nav{
    display: flex;
    justify-content: center;
    width: 100%;
    border-bottom: 2px solid var(--whitesmoke);

    button{
        position: relative;
        padding: 1.6rem;
        overflow: hidden;
        width: 18rem;
        background: transparent;
        font-family: 'Apex New', 'Open Sans';
        font-size: 1.6rem;
        font-weight: 500;
        cursor: pointer;
    }

    button:after{
        content: '';
        height: 1.2rem;
        width: 100%;
        position: absolute;
        border-radius: 999px;
        background-color: var(--purple);
        left: 0;
        bottom: 0;
        transform-origin: center;
        transform: translateY(100%) scaleX(1);
        transition: 0.5s ease;
    }

    button.selected{
        font-weight: 600;
    }

    button.selected::after{
        transform: translateY(50%);
    }
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.add-button-fixed {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.confirm-button{
    padding: 0.4em 0.8em;
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 0.4em;
    box-shadow: 0 0 0 0 black inset;
    color: white;
    background-color: rgb(79, 209, 3);
    transition: 0.3s ease;
    &:hover{
        box-shadow: 0 0 0.2em 0 black inset;
    }
    &:active{

    background-color: rgb(60, 161, 1);
    }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
